@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

body {
  max-width: 1750px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 52%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 49%;
  }
}
aside {
  background-color: #fff;
  width: 25.4rem;
  height: 100vh;
}

.welcome-note p {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.tab-active {
  font-size: 1.6rem;
  font-weight: 500;
  color: #307DFF;
  background-color: #F0F8FF;
  height: 5.2rem;
  border-radius: 1.5rem;
  margin: 8px 0px;
}

.tab {
  font-size: 1.6rem;
  font-weight: 500;
  color: #999999;
  height: 5.2rem;
  border-radius: 1.5rem;
  margin: 8px 0px;
}

.side-wrapper {
  height: 70%;
}

.search-bar-wrapper .search-icon {
  top: 50%;
  left: 16px;
  transform: translate(0%, -50%);
}
.search-bar-wrapper input {
  height: 4.2rem;
  width: 38rem;
  border-radius: 2rem;
  border: none;
}

.mid-nav-wrapper {
  margin-left: 6.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #999999;
}

.nav-info-wrapper {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
}

@media screen and (max-width: 1100px) {
  .search-bar-wrapper input {
    width: 34rem;
  }
  .mid-nav-wrapper {
    font-size: 1.5rem;
    font-weight: 500;
    color: #999999;
  }
  .nav-info-wrapper {
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
  }
}
.garder {
  border: 1px solid magenta;
}

.modal-container {
  max-width: 70rem;
}

.modal-content {
  border-radius: 20px;
}

.task-comp-modal-container .task-comp-wrapper .bg-wrapper {
  margin-top: 80px;
  background-image: url("../../assets/images/task-comp-bg.svg");
  background-position: center;
  background-size: contain;
}
.task-comp-modal-container .task-comp-wrapper .bg-wrapper h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #000;
}
.task-comp-modal-container .task-comp-wrapper .bg-wrapper h3 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #000;
}
.task-comp-modal-container .task-comp-wrapper .bg-wrapper h3 span {
  font-size: 2.4rem;
  font-weight: 400;
  color: #307DFF;
}
.task-comp-modal-container .task-comp-wrapper h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #000;
}
.task-comp-modal-container .task-comp-wrapper h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #999999;
}
.task-comp-modal-container .task-comp-wrapper h5 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #000;
}
.task-comp-modal-container .task-comp-wrapper button {
  width: 14rem;
  height: 4rem;
  border-radius: 2.5rem;
  background-color: #307DFF;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
}
.task-comp-modal-container .task-comp-wrapper button:hover {
  width: 14rem;
  height: 4rem;
  border-radius: 2.5rem;
  background-color: transparent;
  color: #307DFF;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
  border: 1px solid #307DFF;
}

.status-upgrade-modal-container .heading-wrapper h1 {
  font-size: 5rem;
  font-weight: 600;
  color: #000;
}
.status-upgrade-modal-container .heading-wrapper h2 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #000;
}
.status-upgrade-modal-container .heading-wrapper h2 span {
  font-size: 2.4rem;
  font-weight: 400;
  color: #999999;
}
.status-upgrade-modal-container .status h1 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #999999;
}
.status-upgrade-modal-container .status h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #999999;
}
.status-upgrade-modal-container .status h3 {
  font-size: 12px;
  font-weight: 500;
  color: #999999;
}
.status-upgrade-modal-container .points h1 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #999999;
}
.status-upgrade-modal-container .points h2 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #000;
}
.status-upgrade-modal-container .level-wrapper p {
  margin: 0;
}
.status-upgrade-modal-container .level-head p:nth-child(1) {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}
.status-upgrade-modal-container .level-head p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 600;
  color: #999999;
}
.status-upgrade-modal-container .grey-level {
  height: 8px;
  border-radius: 8px;
  background-color: #e6e6e6;
}
.status-upgrade-modal-container .blue-level {
  height: 8px;
  border-radius: 8px;
  background-color: #307DFF;
  top: 0;
  left: 0;
}
.status-upgrade-modal-container .level-foot p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #999999;
}
.status-upgrade-modal-container .keep-going h1 {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}

.reward-modal .modal-container {
  max-width: 500px;
}
.reward-modal .reward-badge-wrapper {
  border-bottom: 1px solid #e6e6e6;
}
.reward-modal .reward-head h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #000;
}
.reward-modal .reward-image img {
  width: 150px;
}
.reward-modal .badge-text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #999999;
}
.reward-modal .badge-text h2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #999999;
}
.reward-modal .tick-wrapper {
  margin-top: 1rem;
}
.reward-modal .tick-wrapper h1 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
}

@media screen and (max-width: 768px) {
  .modal-container {
    max-width: 60rem;
  }
  .status-upgrade-modal-container .image img {
    width: 200px;
  }
  .status-upgrade-modal-container .level-icon img {
    width: 30px;
  }
}
@media screen and (max-width: 576px) {
  .modal-container {
    max-width: 40rem;
  }
  .task-comp-modal-container .task-comp-wrapper .logo img {
    width: 60px;
  }
  .task-comp-modal-container .task-comp-wrapper .bg-wrapper h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
  }
  .task-comp-modal-container .task-comp-wrapper .bg-wrapper h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
  }
  .task-comp-modal-container .task-comp-wrapper .bg-wrapper h3 span {
    font-size: 1.2rem;
    font-weight: 400;
    color: #307DFF;
  }
  .task-comp-modal-container .task-comp-wrapper h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
  }
  .task-comp-modal-container .task-comp-wrapper h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #999999;
  }
  .task-comp-modal-container .task-comp-wrapper h5 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
  }
  .task-comp-modal-container .task-comp-wrapper button {
    width: 10rem;
    height: 3rem;
    border-radius: 2.5rem;
    background-color: #307DFF;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .status-upgrade-modal-container .bg {
    top: 150px;
  }
  .status-upgrade-modal-container .heading-wrapper h1 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }
  .status-upgrade-modal-container .heading-wrapper h2 {
    font-size: 12px;
    font-weight: 400;
    color: #000;
  }
  .status-upgrade-modal-container .heading-wrapper h2 span {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
  }
  .status-upgrade-modal-container .image img {
    width: 140px;
  }
  .status-upgrade-modal-container .status h1 {
    font-size: 12px;
    font-weight: 500;
    color: #999999;
  }
  .status-upgrade-modal-container .status h2 {
    font-size: 16px;
    font-weight: 600;
    color: #999999;
  }
  .status-upgrade-modal-container .status h3 {
    font-size: 10px;
    font-weight: 500;
    color: #999999;
  }
  .status-upgrade-modal-container .points h1 {
    font-size: 12px;
    font-weight: 500;
    color: #999999;
  }
  .status-upgrade-modal-container .points h2 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }
  .status-upgrade-modal-container .level-wrapper p {
    margin: 0;
  }
  .status-upgrade-modal-container .level-head p:nth-child(1) {
    font-size: 12px;
    font-weight: 600;
    color: #000;
  }
  .status-upgrade-modal-container .level-head p:nth-child(2) {
    font-size: 8px;
    font-weight: 600;
    color: #999999;
  }
  .status-upgrade-modal-container .level-icon img {
    width: 20px;
  }
  .status-upgrade-modal-container .grey-level {
    height: 6px;
    border-radius: 6px;
  }
  .status-upgrade-modal-container .blue-level {
    height: 6px;
    border-radius: 6px;
  }
  .status-upgrade-modal-container .level-foot p {
    font-size: 8px;
    font-weight: 600;
    color: #999999;
  }
  .status-upgrade-modal-container .keep-going h1 {
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }
  .reward-modal .modal-container {
    max-width: 80%;
  }
}/*# sourceMappingURL=modal.css.map */